.completed {
    background-color: lightgrey;
    text-decoration: line-through
    
}
.container{
    background-color: bisque;
}
table{
    border-collapse: collapse;

}
h1, form, th{
    text-align: center;
}
